body
     {    
        background-image: url("https://lh5.ggpht.com/LUKmXCPAYNamyXe8C3zBYqMgxSI9IG-v6vPwECYre6GNMJdJ_ByJhe4e8d1Ie4Mgzg=h900");
        position: center center fixed;
        background-repeat: no-repeat;
        background-size: 100%;
      }

